{erl_opts, [debug_info]}.

{relx, [
  {release, {emysql_orm, "0.0.1"}, [
    crypto,
    emysql,
    emysql_orm
  ]},
  {sys_config_src, "config/sys.config.src"},
  {vm_args_src, "config/vm.args.src"},
  {dev_mode, true},
  {include_src, true},
  {include_erts, false},
  {extended_start_script, true}]
}.

{deps, [
  {emysql, {git, "http://gitlab.alking.cc/erlang/emysql.git", {tag, "0.4.2"}}}
]}.

{plugins, [
  {rebar3_run, "0.2.0"}
]}.